.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.cabeçalho {
    background-color: var(--branco);
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
}
.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {

padding: 1em;
background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
}