.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.cabeçalho {
    background-color: var(--branco);
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
}
.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {

padding: 1em;
background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
}
/* código omitido */

.lista-menu_titulo, 
.lista-menu_item {
    padding: 1em,
    background-color var(--branco);

}
/* código omitido */

.lista-menu__titulo {
    color: var(--laranja);
}

/* código omitido */

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* código omitido */

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
/* código omitido */

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

/* código omitido */

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}
.lista-menu__titulo {
    color: var(--laranja);
  }
  .lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
  }
  .lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    border-radius: 0 0 20px 20px;

  }
  .container__botao {
    display: none;
  }
  